<div class="container">
    <div>
        <!--Header area-->
        <div style="display:flex;justify-content: center; ">
            <div ng-show="index > 0" class="prev" ng-click="prev()"
                 style="border: 1px solid black;padding: 10px;align-self: center;cursor: pointer">
                <
            </div>
            <h2 style="margin-left: 20px; margin-right: 20px">Add New Product</h2>
            <div class="next"  ng-click="next()"
                 style="border: 1px solid black;padding: 10px;align-self: center;cursor: pointer">
                >
            </div>

        </div>

        <div style="display:flex;justify-content: center; ">
            <md-radio-group ng-model="productStatus" style="display: flex;justify-content: space-around;">
                <md-radio-button style="margin-right: 5px; margin-left:5px" value="FOR_REVIEW"> New </md-radio-button>
                <md-radio-button style="margin-right: 5px; margin-left:5px" value="MARK" class="md-primary">Marked</md-radio-button>
            </md-radio-group>
        </div>
        <div style="display: flex;justify-content: center;">
            <div class="edit-product" ng-show="products[index].id" style="display: flex;margin-right: 10px">
                <div style="display: flex;flex-direction: column; margin-right: 30px">
                    <img ng-src="{{products[index].product_image_url}}" style="max-height: 250px;max-width: 250px;margin-bottom:30px">
                    <md-input-container>
                        <label>Image Url</label>
                        <input ng-model="products[index].product.image_url" style="color:black;">
                    </md-input-container>
                </div>
                <div style="display: flex;flex-direction: column;">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="products[index].product.name" style="color:black;">
                    </md-input-container>
                    <md-input-container>
                        <label>Barcode</label>
                        <input ng-model="products[index].product.barcode_id" style="color:black;">
                    </md-input-container>
                    <md-input-container>
                        <label>Amazon id</label>
                        <input ng-model="products[index].product.amazon_id" style="color:black;">
                    </md-input-container>
                    <md-input-container>
                        <label>Category</label>
                        <input ng-model="products[index].product.category" style="color:black;">
                    </md-input-container>
                    <md-input-container>
                        <label>Product URL</label>
                        <input ng-model="products[index].product.product_url" style="color:black;">
                    </md-input-container>
                    <textarea
                            ng-model="products[index].product.ingredients_raw"
                            name="Ingredients"
                            ng-trim="true">
                    </textarea>

                    <div style="font-weight: bold; margin-top:40px">
                        <div ng-show="error != '' ">{{error}}</div>
                    </div>
                    <div style="display: flex; margin-top: 20px">
                        <md-button ng-show="!isSaved" ng-click="save()" class="md-raised md-primary">Save</md-button>
                        <md-button ng-show="isSaved"  ng-click="save()" class="md-raised md-primary">Saved</md-button>
                        <md-button ng-click="undo()" class="md-raised md-warning">Undo</md-button>
                        <md-button ng-show="products[index].status === 'FOR_REVIEW'" ng-click="mark('MARK')" class="md-raised md-warning">Mark</md-button>
                        <md-button ng-show="products[index].status === 'MARK'" ng-click="mark('FOR_REVIEW')" class="md-raised md-warning">UnMark</md-button>
                    </div>
                </div>
                <div style="display: flex;flex-direction: column;margin-left:30px">
                    <a href="{{products[index].ingredients_image_url}}"target="_blank"><img ng-src="{{products[index].ingredients_image_url}}" style="max-height: 350px;max-width: 350px;"></a>
                    <div>ingredients image</div>
                </div>
                <!--{{selected | json}}-->
            </div>
        </div>
    </div>
</div>
