<div ng-controller="ProductEditorCtrl" class="container">
   <div>
      <!--Header area-->
      <div>
         <h2>Product Editor - V1</h2>
      </div>

      <div style="display: flex">
         <div style="display: flex;flex-direction: column; max-width: 30%;min-width: 30%">
            <md-input-container class="md-block" flex-gt-sm>
               <md-input-container>
                  <label>Search</label>
                  <input ng-model="searchCriteria.searchText" ng-keydown="$event.which === 13 && search()" style="color:black;">
               </md-input-container>
               <md-button ng-click="search()" class="md-raised md-primary">Search</md-button>
            </md-input-container>
            <md-radio-group ng-model="searchCriteria.db" style="display: flex;justify-content: space-around;">
               <md-radio-button value="scrapeproducts" class="md-primary">Scraped</md-radio-button>
               <md-radio-button value="products"> Products </md-radio-button>
            </md-radio-group>

            <div ng-show="isLoading" style="margin-top: 20px">Loading... Wait....</div>
            <div ng-show="!isLoading" style="border-top: 1px solid gray;">
               <md-list flex>
                  <md-subheader class="md-no-sticky">Products</md-subheader>

                  <md-list-item class="md-3-line" ng-repeat="item in products" ng-click="selectedItem(item)">
                     <img ng-src="{{item.image_url}}?{{$index}}" class="md-avatar" alt="{{item.name}}" />
                     <div class="md-list-item-text" layout="column">
                        <h3>{{ item.name }}</h3>
                        <h4> <a href="{{ item.product_url }}">Link to product<a/></h4>
                        <p>{{ item.scraper_strategy }}</p>
                     </div>
                  </md-list-item>

               </md-list>
            </div>
         </div>

         <div class="edit-product" ng-show="selected.id" style="display: flex;margin-right: 10px">
            <div style="display: flex;flex-direction: column">
               <img ng-src="{{selected.image_url}}" style="max-height: 150px;max-width: 150px;margin-bottom:30px">
               <md-input-container>
                  <label>Image Url</label>
                  <input ng-model="selected.image_url" style="color:black;">
               </md-input-container>


            </div>
            <div style="display: flex;flex-direction: column;">
               <md-input-container>
                  <label>Name</label>
                  <input ng-model="selected.name" style="color:black;">
               </md-input-container>
               <md-input-container>
                  <label>Barcode</label>
                  <input ng-model="selected.barcode_id" style="color:black;">
               </md-input-container>
               <md-input-container>
                  <label>Amazon id</label>
                  <input ng-model="selected.amazon_id" style="color:black;">
               </md-input-container>
               <md-input-container>
                  <label>Category</label>
                  <input ng-model="selected.category" style="color:black;">
               </md-input-container>
               <md-input-container>
                  <label>Product URL</label>
                  <input ng-model="selected.product_url" style="color:black;">
               </md-input-container>
               <textarea
                       ng-model="selected.ingredients_raw"
                       name="Ingredients"
                       ng-trim="true">
               </textarea>

               <div style="font-weight: bold; margin-top:40px">
                  <div ng-show="selected.num_of_searches">{{selected.num_of_searches}}</div>
                  <div ng-show="selected.scraped_time">{{selected.scraped_time | date}}</div>
                  <div ng-show="selected.scraper_strategy">{{selected.scraper_strategy}}</div>
                  <div ng-show="selected.scraper_results">{{selected.scraper_results}}</div>
               </div>
               <div style="display: flex; margin-top: 20px">
                  <md-button ng-show="!isSaved" ng-click="save()" class="md-raised md-primary">Save</md-button>
                  <md-button ng-show="isSaved"  ng-click="save()" class="md-raised md-primary">Saved</md-button>
                  <md-button ng-click="undo()" class="md-raised md-warning">Undo</md-button>
               </div>
            </div>
            <!--{{selected | json}}-->
         </div>
      </div>
   </div>
</div>
